
.header h1 {
    color: white;
    background:cadetblue;
    float:left;
    font-size:35px;
    height: 40px;
    padding: 20px;
}

.header {
    width: 100%;
    background-color: white;
    height: 80px;
    border-bottom: 2px solid grey;
}

/*header centering*/
.center {
    width:960px;
    margin:0 auto;
}

.links {
    color: gray;
    float: right;
    display: inline-block;
    font-size: 20px;
    margin-top: 25px;
    word-spacing: 20px;
    margin-right: 20px;

}

/*Resizing Form */
.resizingform {
    padding: 20px; 
    width:800px;
}

/* Words */
.words {
    line-height: 25px;
    padding:15px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight:normal;
}

.links ul li {
    display: inline-block;
}

/* How to add a background image? */
body{
background: url("../images/pink_dust.png")
}

/* Center box */
.centerBox {
    background: white;
    width: 960px;
    margin:0 auto;
    margin-top: 75px;
}

/* About Me */
.aboutMe {
    font-size: 35px;
    color:cadetblue;
    width: 100%;
    padding-top: 30px;
    margin:0 auto;
    background-color: white;
    height: 60px;
    border-bottom: 2px solid gray;

}

.image{
    float: left;
    padding-right:15px;
    padding-bottom:15px;
}

/*link colors and design*/
a {
    color:gray;
    text-decoration: none;
}


